/.idea/inspectionProfiles/Project_Default.xml
/.idea/.gitignore
/.idea/blog.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
/spring-msa-grpc-graphql/node_modules/helm/index.js
/spring-msa-grpc-graphql/node_modules/helm/package.json
/spring-msa-grpc-graphql/node_modules/isarray/component.json
/spring-msa-grpc-graphql/node_modules/isarray/index.js
/spring-msa-grpc-graphql/node_modules/isarray/package.json
/spring-msa-grpc-graphql/node_modules/path-to-regexp/index.d.ts
/spring-msa-grpc-graphql/node_modules/path-to-regexp/index.js
/spring-msa-grpc-graphql/node_modules/path-to-regexp/LICENSE
/spring-msa-grpc-graphql/node_modules/path-to-regexp/package.json
/spring-msa-grpc-graphql/node_modules/.package-lock.json
/spring-msa-grpc-graphql/get_helm.sh
/spring-msa-grpc-graphql/package.json
/spring-msa-grpc-graphql/package-lock.json
/untitled/.idea/.gitignore
/untitled/.idea/misc.xml
/untitled/.idea/modules.xml
/untitled/.idea/vcs.xml
/untitled/build/my_project/Analysis-00.toc
/untitled/build/my_project/base_library.zip
/untitled/build/my_project/EXE-00.toc
/untitled/build/my_project/my_project.pkg
/untitled/build/my_project/PKG-00.toc
/untitled/build/my_project/PYZ-00.pyz
/untitled/build/my_project/PYZ-00.toc
/untitled/build/my_project/warn-my_project.txt
/untitled/build/my_project/xref-my_project.html
/untitled/debian/DEBIAN/control
/untitled/debian/usr/local/bin/my_project.py
/untitled/dist/my_project.exe
/untitled/my_project.spec
/untitled/untitled.iml
